* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/*$color-2 = background footer, textos grales*/
/*$color-2 = typo footer*/
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  color: #956852;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center; }

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: #956852;
  text-align: center; }

.negrita {
  font-weight: 600px; }

.thin {
  font-weight: 100px; }

/*@import "./components/bs";*/
body {
  height: 100vh; }

.logo-index {
  width: 45%;
  height: auto;
  padding: 10px;
  margin: 15vh; }

.flex-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 45px; }

.foto-100 {
  width: 100%; }

.textos {
  margin-left: 40px;
  margin-right: 40px; }

footer {
  background-color: #956852;
  text-align: center;
  padding-top: 25px;
  margin-top: 30px;
  padding-bottom: 20px; }
  footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: #D6BF9E; }
  footer ul {
    /***  F L E X B O X  ***/
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    text-align: center;
    size: adjust 100px;
    list-style: none;
    margin-bottom: 10px; }
    footer ul a {
      text-decoration: none; }
