* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/*$color-2 = background footer*/
/*$color-2 = typo footer*/
h1 {
  font-size: 15px;
  color: #D6BF9E; }

/*@import "./components/bs";*/
body {
  height: 100vh; }

.logo-index {
  width: 30%;
  height: auto;
  padding: 10px;
  margin: 15vh; }

.flex-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

footer {
  background-color: #956852;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px; }
  footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    color: #D6BF9E; }
  footer ul {
    /***  F L E X B O X  ***/
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    text-align: center;
    size: adjust 100px;
    list-style: none;
    margin-bottom: 10px; }
    footer ul a {
      text-decoration: none; }
