@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/*$color-2 = background footer, textos grales*/
/*$color-2 = typo footer*/
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  color: #956852;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 400; }

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: #956852;
  text-align: center; }

.negrita {
  font-weight: 600; }

.centrado-vertical {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center; }

.logo-index {
  width: 45%;
  height: auto;
  padding: 10px;
  margin: 5vh; }

@keyframes vibrarC {
  /*** A N I M A C I O N   D E S C A R G A    C V ***/
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

.button-call-action {
  border: solid 2px;
  border-color: #956852;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #956852;
  background-color: white;
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
  font-weight: 400;
  width: 300px;
  height: 25px;
  align-self: center;
  animation-name: vibrarC;
  /*** A N I M A C I O N   BOTÓN SIMULADOR ***/
  animation-duration: 3s;
  animation-iteration-count: infinite; }

body {
  height: 100vh; }

.flex-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px; }

.foto-100 {
  width: 100%; }

.textos {
  margin-left: 40px;
  margin-right: 40px; }

footer {
  background-color: #956852;
  text-align: center;
  padding-top: 25px;
  margin-top: 30px;
  padding-bottom: 20px; }
  footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: #D6BF9E; }
  footer ul {
    /***  F L E X B O X  ***/
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    text-align: center;
    size: adjust 100px;
    list-style: none;
    margin-bottom: 10px; }
    footer ul a {
      text-decoration: none; }
