body {
    height: 100vh;
}


.flex-main {
    @include flex (column, center);
    align-items: center; 
    row-gap: 30px;  
} 

.foto-100{
    width:100%;
}

.textos {
    margin-left:40px ;
    margin-right:40px ;
}

