body {
    height: 100vh;
}

.logo-index {
    @include medidas (45%, auto, 10px, 15vh);
    
}

.flex-main {
    @include flex (column, center);
    align-items: center; 
    row-gap: 45px;  
} 

.foto-100{
    width:100%;
}

.textos {
    margin-left:40px ;
    margin-right:40px ;
}

